html, body {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 48px;
  overflow: hidden;
  background: rgb(29, 32, 33);
  /* border: 1px solid #000; */
}

body {
  padding: 8px 8px;
}

* {
  box-sizing: border-box;
}

:root {
  --off-btn: #000000;
  --on-btn: #ecf0f1;
  --transition: all 0.2s ease;
  --off-bg: #8a8a8a;
  --on-bg: #ff640a;
  --icon-color: var(--off-bg);
}
/* Hide the input */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.check-trail {
  display: flex;
  width: 64px;
  height: 32px;
  padding: 3.5px;
  background: var(--off-bg);
  border-radius: 16px;
  transition: var(--transition);
  cursor: pointer;
}
.check-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: relative;
  background: var(--off-btn);
  border-radius: 50%;
  transition: var(--transition);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background: var(--icon-color);
    transition: var(--transition);
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
input[type="checkbox"]:checked + .check-trail {
  background: var(--on-bg);
  .check-handler {
    --icon-color: var(--on-bg);
    margin-left: 31px;
    background: var(--on-btn);
    &::before {
      transform: rotate(45deg) translate(2px, -2px);
    }
    &::after {
      height: 6px;
      transform: rotate(-45deg) translate(-2.5px, -2px);
    }
  }
}
